<!doctype html>
<html>
<head><meta charset="utf-8"><title>Contrato</title></head>
<body>
  <h1>Contrato de Crédito</h1>
  <p>Cliente: {{client.name}} ({{client.doc}})</p>
  <p>Monto: {{credit.amount}} | Cuotas: {{credit.installments_count}} x {{credit.installment_amount}}</p>
  <p>Tasa de interés: {{credit.interest_rate}}%</p>
  <p>Fecha de inicio: {{credit.start_date}}</p>
  <p>Dirección: {{client.address}} | Tel: {{client.phone}} | Email: {{client.email}}</p>
  <hr>
  <p>Cláusulas personalizables aquí...</p>
</body>
</html>
